.center
  %table{:width=>'100%'}
    %tr 
      %td
        =image_tag 'panel.png'
      %td
        =image_tag 'panel.png'
      %td
        =image_tag 'panel.png'
      %td
        =image_tag 'panel.png'
    %tr 
      %td{:align => 'left'}
        =image_tag 'paw_left.png', :width => '25px'
      %td
      %td
      %td{:align => 'right'}
        =image_tag 'paw_right.png', :width => '25px'

