.center
  %table{:width=>'100%'}
    %tr 
      %td
        =image_tag 'panel.png'
      %td
        =image_tag 'panel.png'
      %td
        =image_tag 'panel.png'
      %td
        =image_tag 'panel.png'
